doctype html
html(lang="en")
    head
        title Week-4 Assignment-4
    body
        h1 Welcome to Week-4 Assignment-4
        hr
        h2=name
        form(action='/logOut',method='post')
            button(type='submit') Log out