doctype html
html(lang="en")
    head
        title Week-3 Assignment-4
    body
        h1 Welcome to Week-3 Assignment-4
        hr
        form(action='/myName',method='get')
            button(type='submit') Go to myName